@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
  color: #2b2942;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  transition: color 0.75s;
}

a:hover {
  color: #dc3a7a;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 12em 1fr auto;
}

.main-header {
  background-color: #1a1c52;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em;
}

.main-header h1 {
  font-size: 40px;
}

.main-header ul {
  display: flex;
  font-size: 22px;
}

.main-header li {
  margin-right: 1em;
}

.main-header li a {
  text-decoration: none;
}

main {
  background-color: #f4f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6em 4em;
  text-align: center;
}

main h1 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

main p {
  font-size: 36px;
}

footer {
  display: grid;
  grid-template-rows: 2fr minmax(166px, 1fr);
  grid-template-columns: 1fr;
  grid-row-gap: 5em;
  background-color: #fff;
  padding: 6em 6em 0;
}

.footer-header {
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-row-gap: 3em;
  grid-column-gap: 1em;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
}

.links a {
  color: #2b2942;
  text-decoration: none;
}

.links a:hover {
  color: #dc3a7a;
}

.featured-posts {
  grid-column: span 3;
}

.post {
  display: flex;
  margin-bottom: 1em;
  align-items: end;
}

.post h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #2b2942;
}

.post h2 {
  font-size: 14px;
  line-height: 35px;
  color: rgba(43, 41, 66, 0.8);
}

.post p {
  font-size: 16px;
  line-height: 23px;
}

.upgrade-plan {
  background: #1a1c52;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  color: #fff;
  padding: 30px 40px;
  grid-gap: 4em;
  align-items: center;
}

.upgrade-info {
  text-align: center;
}

.upgrade-plan h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 13px;
}

.upgrade-plan p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.cta {
  justify-self: center;
}

.cta-button {
  background: #5458c7;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  padding: 17px 49px;
  border: none;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

@media (min-width: 1200px) {
  .upgrade-plan {
    grid-template-columns: 3fr 1fr;
    background-image: url("./bg-cta.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    grid-gap: 2em;
  }

  .upgrade-info {
    text-align: left;
  }

  .cta {
    justify-self: end;
  }
}
