.app {
  height: 100vh;
  display: grid;
}
header {
  background-color: #ddd;
}

main {
  background-color: #ededed;
}

footer {
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.footer-header {
  margin-bottom: 2em;
  text-transform: uppercase;
}
.featured-posts {
  grid-column: span 2;
}

.featured-posts .post {
  display: flex;
  margin-bottom: 1em;
}

.image {
  width: 120px;
  height: 120px;
  background-color: #ccc;
}
