.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 5em 1fr auto;
}
header {
  background-color: #ddd;
}

main {
  background-color: #ededed;
}

footer {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  background-color: #ddd;
  padding: 2em;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-row-gap: 1em;
}

.footer-header {
  margin-bottom: 0.6em;
  text-transform: uppercase;
}
.featured-posts {
  grid-column: span 2;
}

.featured-posts .post {
  display: flex;
  margin-bottom: 1em;
}

.upgrade-plan {
  background-color: darkgray;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 500px) {
  .upgrade-plan {
    grid-template-columns: 3fr 1fr;
  }
}

.image {
  width: 120px;
  height: 120px;
  background-color: #ccc;
}
